:root {
  --graphite: #363636ff;
  --jet-black: #242f40ff;
  --golden-bronze: #cca43bff;
  --alabaster-grey: #e5e5e5ff;
  --white: #ffffffff;
}

body {
  color: var(--white);
}

.right_conatct_social_icon {
  background: linear-gradient(to top right, #cca43bff -5%, #242f40ff 100%);
}

.contact_us {
  background-color: var(--white);
  padding: 60px 0;
}

.contact_inner {
  background-color: #fff;
  position: relative;
  box-shadow: 0 10px 25px #ccc;
  border-radius: 25px;
}

.contact_field {
  padding: 40px;
}

.contact_field h3 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_field p {
  color: #000;
  font-size: 14px;
  margin-bottom: 25px;
}

.contact_field .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.contact_field .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid var(--graphite);
}

.contact_field .form-control::placeholder {
  font-size: 13px;
}

.contact_info_sec {
  position: relative;
  background-color: var(--graphite);
  width: 100%;
  padding: 40px;
  border-radius: 25px;
  margin-top: 30px;
}

.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
  color: var(--white);
}

.info_single {
  margin: 25px 0;
  color: var(--white);
}

.info_single i {
  margin-right: 10px;
}

.info_single span {
  font-size: 14px;
}

button.contact_form_submit {
  background: linear-gradient(to top right, #cca43bff -5%, #242f40ff 100%);
  border: none;
  color: var(--white);
  padding: 10px 15px;
  width: 100%;
  margin-top: 20px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}

.socil_item_inner {
  padding-bottom: 10px;
  display: flex;
  gap: 15px;
}

.socil_item_inner li {
  list-style: none;
}

.socil_item_inner li a {
  color: var(--white);
  font-size: 14px;
}

.map_sec {
  padding: 40px 0;
}

.map_inner h4,
.map_inner p {
  color: var(--graphite);
  text-align: center;
}

.map_inner p {
  font-size: 13px;
}

.map_bind {
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .contact_inner {
    display: flex;
  }
  .contact_field {
    width: 60%;
    padding: 60px;
  }
  .contact_info_sec {
    position: absolute;
    right: 0;
    top: 15%;
    width: 320px;
    height: auto;
    border-radius: 25px 0 0 25px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .contact_field h3 {
    font-size: 38px;
  }
  .contact_us {
    padding: 100px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gallery {
  background-color: var( --white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#gallery h1 {
  font-size: 80px;
  color: var(--golden-bronze);
}

#gallery h2 {
  font-size: 30px;
  color: var(--golden-bronze);
}

.row1-gallery,
.row2-gallery {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box {
  border-radius: 20px;
  height: 35vh;
  width: 30vw;
  border:2px solid var(--graphite) ;
}

.pic-gallery {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: inherit;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .box{
    height: 30vh;
  }
}

@media (max-width:850px) {
  #gallery{
    height: auto;
  }
  .row1-gallery,.row2-gallery{
    display: flex;
    flex-direction: column;
  }
  .box{
    width: 70vw;
    height: 35vh;
  }
}
