:root {
  --graphite: #363636ff;
  --jet-black: #242f40ff;
  --golden-bronze: #cca43bff;
  --alabaster-grey: #e5e5e5ff;
  --white: #ffffffff;
}

body {
  color: var(--white);
}

.contact_us {
  background-color: var(--white);
  padding: 60px 0;
}

.contact_inner {
  background-color: #fff;
  position: relative;
  box-shadow: 0 10px 25px #ccc;
  border-radius: 25px;
}

.contact_field {
  padding: 40px;
}

.contact_field h3 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_field p {
  color: #000;
  font-size: 14px;
  margin-bottom: 25px;
}

.contact_field .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.contact_field .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid var(--graphite);
}

.contact_field .form-control::placeholder {
  font-size: 13px;
}

.contact_info_sec {
  position: relative;
  background-color: var(--graphite);
  width: 100%;
  padding: 40px;
  border-radius: 25px;
  margin-top: 30px;
}

.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
  color: var(--white);
}

.info_single {
  margin: 25px 0;
  color: var(--white);
}

.info_single i {
  margin-right: 10px;
}

.info_single span {
  font-size: 14px;
}

button.contact_form_submit {
  background: linear-gradient(to top right, #cca43bff -5%, #242f40ff 100%);
  border: none;
  color: var(--white);
  padding: 10px 15px;
  width: 100%;
  margin-top: 20px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}

.socil_item_inner {
  padding-bottom: 10px;
  display: flex;
  gap: 15px;
}

.socil_item_inner li {
  list-style: none;
}

.socil_item_inner li a {
  color: var(--white);
  font-size: 14px;
}

.map_sec {
  padding: 40px 0;
}

.map_inner h4,
.map_inner p {
  color: var(--graphite);
  text-align: center;
}

.map_inner p {
  font-size: 13px;
}

.map_bind {
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .contact_inner {
    display: flex;
  }
  .contact_field {
    width: 60%;
    padding: 60px;
  }
  .contact_info_sec {
    position: absolute;
    right: 0;
    top: 15%;
    width: 320px;
    height: auto;
    border-radius: 25px 0 0 25px;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .contact_field h3 {
    font-size: 38px;
  }
  .contact_us {
    padding: 100px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gallery {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#gallery h1 {
  font-size: 80px;
  color: var(--golden-bronze);
}

#gallery h2 {
  font-size: 30px;
  color: var(--golden-bronze);
}

.row1-gallery,
.row2-gallery {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box {
  border-radius: 20px;
  height: 35vh;
  width: 30vw;
}

.pic-gallery {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: inherit;
}
@media (max-width: 1199.98px) {
  .box {
    height: 30vh;
  }
}

@media (max-width: 850px) {
  #gallery {
    height: auto;
  }
  .row1-gallery,
  .row2-gallery {
    display: flex;
    flex-direction: column;
  }
  .box {
    width: 70vw;
    height: 35vh;
  }
}
:root {
  --graphite: #363636ff;
  --jet-black: #242f40ff;
  --golden-bronze: #cca43bff;
  --alabaster-grey: #e5e5e5ff;
  --white: #ffffffff;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav-t {
  background-color: var(--jet-black);
}
.carousel-item img {
  height: 100vh;
  width: 100vw;
}
.marquee-t {
  width: 100%;
  font-size: x-large;
  color: var(--golden-bronze);
}

.carousel-text-t {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--alabaster-grey);
  font-size: x-large;
}

#About {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#About h1 {
  padding: 30px;
  color: var(--golden-bronze);
}

.about-main-t {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: var(--white);
}

.allcards-t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: 70vh;
  width: 50vh;
  padding: 20px;
  gap: 30px;
  background-color: var(--jet-black);
  transition: all 0.3s ease-in-out;
  gap: 20px;
}

.allcards-t:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 15px 3px;
}

.allcards-t h2 {
  color: var(--golden-bronze);
  font-size: x-large;
}

.allcards-t p {
  color: var(--white);
  font-size: large;
}

@media (max-width: 991.98px) {
  .carousel-text-t {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
  }

  .about-main-t {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 30px 0;
  }

  .allcards-t {
    height: auto;
    width: 70%;
    font-size: large;
    gap: 20px;
  }
}

@media (max-width: 575.98px) {
  .carousel-text-t {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: medium;
    padding: 0 10px;
  }

  .carousel-item {
    height: auto;
  }

  .allcards-t {
    width: 90%;
  }
}

.site-footer {
  background-color: #000000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.site-footer hr {
  border-top-color: #cca43bff;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #cca43bff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #cca43bff;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: rgb(253, 253, 253);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #cca43bff;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  color: #cca43bff;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
